<h1>TICKETY</h1>
<p>Find me in app/views/tickets/index.html.erb</p>

<hr>
	<%= form_for @tickets_new do |f| %>
	  <div class="form-group">
	    <%= f.label :title %>
	    <%= f.text_field :title, class: "form-control" %><br>
	  </div>
	  <div class="form-group">
	    <%= f.label :description %>
	    <%= f.text_area :description, class: "form-control" %><br>
	  </div>
	  <%= f.submit 'save', class: "btn btn-default" %>
	<% end %>
<hr>
	<% @ticket.each do |ticket| %>
		<strong>Title:</strong> <%= ticket.title %>
		<br>
		<strong>Description:</strong> <%= ticket.description %>
		<br>
		<%= link_to "delete", ticket, method: :delete, class: "btn btn-default" %>
		<br>
		<hr>
	<% end %>




